Welcome to Youpoundit.com, <%= @user[:name] %>
===============================================
 

You have successfully signed up to YouPoundIt,
      choose the gadget of your dreams.
 

 
Thanks for joining and have a great day!
